$dark: hsl(340, 13%, 5%);
$dark-opacity: hsla(340, 13%, 5%, 0%);
$dark-grey: hsl(0, 0%, 12%);
$medium-grey: hsl(225, 10%, 30%);
$light-grey: hsl(0, 0%, 62%);
$white: hsl(46, 46%, 89%);
$gold: hsl(42, 54%, 50%);
$blue: hsl(227, 100%, 56%);