@use './colors';
@use './fonts';

$themes: (

    // The OG Colour Scheme
    original: (
        
        // About Page Options
        about-cube-border: 1px solid colors.$light-grey,
        about-cube-background:  colors.$light-grey-transparent,
        about-cube-glow: 0 0 40px 0px colors.$light-yellow,

        // Animated Letters Options
        animated-letters-highlight: colors.$gold,

        // Contact Page Options
        contact-input-bg: colors.$medium-grey,
        contact-input: colors.$white,
        contact-btn: colors.$gold,
        contact-btn-bg: colors.$dark,
        contact-btn-font: 'Source Sans Pro',
        contact-btn-border: 2px solid colors.$gold,
        contact-btn-highlight-bottom: 0 0.8em 0.8em -0.4em colors.$blue,
        contact-btn-highlight-1: 0.1em 0.1em 0.2em colors.$blue,
        contact-btn-highlight-2: 0.1em -0.1em 0.2em colors.$blue,
        contact-btn-highlight-3: -0.1em 0.1em 0.2em colors.$blue,
        contact-btn-highlight-4: -0.1em -0.1em 0.2em colors.$blue,
        contact-btn-disabled-border: none,
        contact-btn-disabled-1: 0.2em 0.2em 1em colors.$light-yellow,
        contact-btn-disabled-2: 0.2em -0.2em 1em colors.$light-yellow,
        contact-btn-disabled-3: -0.2em 0.2em 1em colors.$light-yellow,
        contact-btn-disabled-4: -0.2em -0.2em 1em colors.$light-yellow,

        // Base App Options
        page: colors.$dark-grey,
        page-bg: colors.$dark,

        // Sidebar Options
        sidebar-bg: colors.$dark-grey,
        sidebar-unselected-major-icon: colors.$medium-grey,
        sidebar-highlighted-major-icon: colors.$gold,
        sidebar-selected-major-icon: colors.$gold,
        sidebar-unselected-minor-icon: colors.$medium-grey,
        sidebar-highlighted-minor-icon: colors.$gold,
        sidebar-border: 2px solid colors.$medium-grey,
        sidebar-highlight-1: 0.1em 0.1em 1em -0.2em colors.$blue,
        sidebar-highlight-2: -0.1em -0.1em 1em -0.2em colors.$blue,
        sidebar-font: 'Source Sans Pro',

        // Layout Options
        layout-h1: colors.$gold,
        layout-h1-highlight: colors.$white,
        layout-h1-font: 'Rosarivo',
        layout-p: colors.$white,
        layout-p-font: 'Source Sans Pro',

        // Home Page Options
        home-h1: colors.$white,
        home-h1-highlight: colors.$gold,
        home-h1-font: 'Rosarivo',
        home-scroller: colors.$light-grey,
        home-scroller-border: 1px solid colors.$light-grey,
        home-scroller-font: 'Source Sans Pro',
        home-contact-button: colors.$gold,
        home-contact-button-border: 2px solid colors.$gold,
        home-contact-button-font: 'Source Sans Pro',
        home-contact-button-highlight-bottom: 0 0.8em 0.8em -0.4em colors.$blue,
        home-contact-button-highlight-1: 0.1em 0.1em 0.2em colors.$blue,
        home-contact-button-highlight-2: 0.1em -0.1em 0.2em colors.$blue,
        home-contact-button-highlight-3: -0.1em 0.1em 0.2em colors.$blue,
        home-contact-button-highlight-4: -0.1em -0.1em 0.2em colors.$blue,
        home-timeline-bg: colors.$dark,
        home-timeline-border: 2px solid colors.$medium-grey,
        home-timeline-bg-filter: transparentize(colors.$dark, 0.4),
        home-timeline-bg-gradient: linear-gradient(to bottom, colors.$dark-transparent 0%, colors.$dark 75%),
        home-timeline-content-h1: colors.$white,
        home-timeline-content-h1-font: 'Rosarivo',
        home-timeline-content-p: colors.$white,
        home-timeline-content-p-font: 'Source Sans Pro',
        home-timeline-title-top: 1px solid colors.$white,
        home-timeline-title-bottom: 1px solid colors.$white,
        home-timeline-title: colors.$white,
        home-timeline-title-font: 'Permanent Marker',
        home-timeline-button: colors.$gold,
        home-timeline-button-border: 2px solid colors.$gold,
        home-timeline-button-font: 'Source Sans Pro',
        home-timeline-button-highlight-bottom: 0 0.8em 0.8em -0.4em colors.$blue,
        home-timeline-button-highlight-1: 0.1em 0.1em 0.2em colors.$blue,
        home-timeline-button-highlight-2: 0.1em -0.1em 0.2em colors.$blue,
        home-timeline-button-highlight-3: -0.1em 0.1em 0.2em colors.$blue,
        home-timeline-button-highlight-4: -0.1em -0.1em 0.2em colors.$blue,

    ),
    
    // Shiny Colour Scheme
    bright: (
        
    ),
);

@mixin themed() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
              $value: map-get(map-get($themes, $theme), '#{$key}');
              $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}
  
@function get($key) {
    @return map-get($theme-map, $key);
}