@use './colors';
@use './fonts';

$themes: (
    // The OG Colour Scheme
    original: (
        // Sidebar Options
        sidebar-bg: colors.$dark-grey,
        sidebar-unselected-major-icon: colors.$medium-grey,
        sidebar-highlighted-major-icon: colors.$gold,
        sidebar-selected-major-icon: colors.$gold,
        sidebar-unselected-minor-icon: colors.$medium-grey,
        sidebar-highlighted-minor-icon: colors.$gold,
        sidebar-border: 2px solid colors.$medium-grey,
        sidebar-highlight-1: 0.1em 0.1em 1em -0.2em colors.$blue,
        sidebar-highlight-2: -0.1em -0.1em 1em -0.2em colors.$blue,
        sidebar-font: 'Helvetica Neue',

        // Layout Options
        layout-tags: colors.$gold,
        layout-tags-font: 'La Belle Aurore',
        layout-h1: colors.$gold,
        layout-h1-highlight: colors.$white,
        layout-h1-font: 'Coolvetica',
        layout-h1-open-tag: colors.$gold,
        layout-h1-open-tag-font: 'La Belle Aurore',
        layout-h1-close-tag: colors.$gold,
        layout-h1-close-tag-font: 'La Belle Aurore',
        layout-p: colors.$white,
        layout-p-font: sans-serif,

        // Home Page Options

        // About Page Options

        // Contact Page Options
    ),
    light: (
        
    ),
);

@mixin themed() {
    @each $theme, $map in $themes {
      .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function get($key) {
    @return map-get($theme-map, $key);
  }