@use '../../styles/themes';

.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'] {
        @include themes.themed() {
            color: themes.get('contact-input');
            background: themes.get('contact-input-bg');
        }
        width: 100%;
        border: 0;
        height: 50px;
        font-size: 16px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        @include themes.themed() {
            color: themes.get('contact-input');
            background: themes.get('contact-input-bg');
        }
        width: 100%;
        border: 0;
        height: 50px;
        font-size: 16px;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
    }

    .flat-button {
        @include themes.themed() {
            color: themes.get('contact-btn');
            background: themes.get('contact-btn-bg');
            border: themes.get('contact-btn-border');
        }
        font-size: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        float: right;
        border-radius: 5px;
        white-space: nowrap;
        transition: 0.5s;
        margin-bottom: 20px;

        &:enabled {
            &:hover {
                @include themes.themed() {
                    box-shadow: themes.get('contact-btn-highlight-bottom');
                    text-shadow: themes.get('contact-btn-highlight-1'), themes.get('contact-btn-highlight-2'), themes.get('contact-btn-highlight-3'), themes.get('contact-btn-highlight-4');
                }
                cursor: pointer;
            } 
        }

        &:disabled {
            @include themes.themed() {
                border: themes.get('contact-btn-disabled-border');
                text-shadow: themes.get('contact-btn-disabled-1'), themes.get('contact-btn-disabled-2'), themes.get('contact-btn-disabled-3'), themes.get('contact-btn-disabled-4');
            }
            animation: spinner 1.5s linear infinite;
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}