@use '../../../styles/themes';

.home-page {
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  margin-left: 70px;    // Modified by breakpoint
  flex-direction: row;  // Modified by breakpoint

  .text-container {
    flex-grow: 4;
    padding-right: 4rem;
    padding-bottom: 30vh;
    
    h1 {
      margin-top: 8.5rem;     
      @include themes.themed() {
        color: themes.get('home-h1');
        font-family: themes.get('home-h1-font');
      }
      
      .first-line {
        margin-left: 4rem;
        font-size: 2rem;
        font-weight: 400;
      }

      .second-line {
        margin-left: 5.5rem;
        font-size: 3rem;
        font-weight: 400;
      }
    }

    .word-scroller {
      font-size: 1.6rem;
      margin-top: 1.2rem;
      margin-left: 4rem; 
      letter-spacing: 3px;
      height: 1.8em;
      line-height: 1.6em;
      position: relative;
      overflow: hidden;
      width: 11em;
      animation: fadeIn 2s 5s backwards;
      transition: 0.5s;
      @include themes.themed() {
        color: themes.get('home-scroller');
        border-top: themes.get('home-scroller-border');
        font-family: themes.get('home-scroller-font');
      }
  
      span {
        position: absolute;
        top: 0;
        animation: wordSlide 12s 5.5s infinite;
      }
    }

    .contact-button {
      font-size: 0.75rem;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 0.7rem 0.8rem;
      position: absolute;
      margin-left: 4rem;
      margin-top: 4.5rem;
      animation: fadeIn 2s 3s backwards;
      transition: 0.5s;
      @include themes.themed() {
        color: themes.get('home-contact-button');
        border: themes.get('home-contact-button-border');
        font-family: themes.get('home-contact-button-font')
      }

      &:hover {
        @include themes.themed() {
          box-shadow: themes.get('home-contact-button-highlight-bottom');
          text-shadow: themes.get('home-contact-button-highlight-1'), themes.get('home-contact-button-highlight-2'), themes.get('home-contact-button-highlight-3'), themes.get('home-contact-button-highlight-4');
        }
      }
    }
  }

  .content-container {
    flex-grow: 6;
    animation: fadeIn 2s 4s backwards;
  }
}

@keyframes wordSlide {
  0% {
    top: 0;
  }
  25% {
    top: -1.6em;
  }
  50% {
    top: -3.2em;
  }
  75% {
    top: -4.8em;
  }
}