@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* TODO - Rechoose fonts, download files with better variability */
@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rosarivo";
  src: url("./assets/fonts/Rosarivo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Permanent Marker";
  src: url("./assets/fonts/PermanentMarker-Regular.ttf") format("truetype");
}

:root {
  --primary: oklch(0.5663 0.0819 77.71);
  --primary-foreground: oklch(0.9769 0.0145 102.45);
  --secondary: oklch(0.813 0.1072 96.31);
  --secondary-foreground: oklch(0.2693 0.039 55.24);
  --accent: oklch(0.886 0.0132 353.18);
  --accent-foreground: oklch(0.3819 0.0274 353.22);
  --background: oklch(0.9555 0.0057 128.53);
  --foreground: oklch(0.2237 0.0103 196.44);
  --card: oklch(0.9495 0.0045 360);
  --card-foreground: oklch(0.2237 0.0103 196.44);
  --popover: oklch(0.9495 0.0045 360);
  --popover-foreground: oklch(0.2237 0.0103 196.44);
  --muted: oklch(0.886 0.0132 353.18);
  --muted-foreground: oklch(0.565 0.0463 351.42);
  --destructive: oklch(0.477 0.245 27.325);
  --destructive-foreground: oklch(0.9555 0.0057 128.53);
  --border: oklch(0.886 0.0132 353.18);
  --input: oklch(0.886 0.0132 353.18);
  --ring: oklch(0.565 0.0463 351.42);
  --chart-1: oklch(0.884 0.0724 98.13);
  --chart-2: oklch(0.813 0.1072 96.31);
  --chart-3: oklch(0.7467 0.1231 91.84);
  --chart-4: oklch(0.5942 0.1024 77.72);
  --chart-5: oklch(0.4936 0.0828 68.65);
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --primary: oklch(0.5663 0.0819 77.71);
  --primary-foreground: oklch(0.9769 0.0145 102.45);
  --secondary: oklch(0.4367 0.0682 63.55);
  --secondary-foreground: oklch(0.9437 0.0395 102.44);
  --accent: oklch(0.3499 0.0215 354.84);
  --accent-foreground: oklch(0.7852 0.0243 350.27);
  --background: oklch(0.2237 0.0103 196.44);
  --foreground: oklch(0.9555 0.0057 128.53);
  --card: oklch(0.133 0.0146 223.07);
  --card-foreground: oklch(0.9769 0.0145 102.45);
  --popover: oklch(0.133 0.0146 223.07);
  --popover-foreground: oklch(0.9769 0.0145 102.45);
  --muted: oklch(0.3499 0.0215 354.84);
  --muted-foreground: oklch(0.7852 0.0243 350.27);
  --destructive: oklch(0.477 0.245 27.325);
  --destructive-foreground: oklch(0.9555 0.0057 128.53);
  --border: oklch(0.1 0.0056 355.61);
  --input: oklch(0.1 0.0056 355.61);
  --ring: oklch(0.7852 0.0243 350.27);
  --chart-1: oklch(0.5942 0.1024 77.72);
  --chart-2: oklch(0.4936 0.0828 68.65);
  --chart-3: oklch(0.4367 0.0682 63.55);
  --chart-4: oklch(0.3131 0.0501 58.29);
  --chart-5: oklch(0.2693 0.039 55.24);
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --color-goldenbrown-50: oklch(0.9725 0.0108 95.16);
  --color-goldenbrown-100: oklch(0.9315 0.0281 98.08);
  --color-goldenbrown-200: oklch(0.8668 0.0551 97.07);
  --color-goldenbrown-300: oklch(0.7835 0.0833 93.81);
  --color-goldenbrown-400: oklch(0.713 0.0997 90.65);
  --color-goldenbrown-500: oklch(0.6545 0.0956 85.39);
  --color-goldenbrown-600: oklch(0.5663 0.0819 77.71);
  --color-goldenbrown-700: oklch(0.4786 0.0666 68.36);
  --color-goldenbrown-800: oklch(0.4258 0.0539 62.35);
  --color-goldenbrown-900: oklch(0.3859 0.0433 56.35);
  --color-goldenbrown-950: oklch(0.2621 0.031 48.83);

  --color-rose-50: oklch(0.9733 0.0086 17.3);
  --color-rose-100: oklch(0.941 0.0219 17.55);
  --color-rose-200: oklch(0.896 0.0393 19.86);
  --color-rose-300: oklch(0.8216 0.0702 19.79);
  --color-rose-400: oklch(0.7217 0.1145 21.6);
  --color-rose-500: oklch(0.633 0.1509 23.31);
  --color-rose-600: oklch(0.5592 0.162 24.82);
  --color-rose-700: oklch(0.5079 0.151 25.14);
  --color-rose-800: oklch(0.4336 0.1187 24.71);
  --color-rose-900: oklch(0.3917 0.0983 23.54);
  --color-rose-950: oklch(0.2546 0.0636 24.09);

  --color-sage-50: oklch(0.9555 0.0057 128.53);
  --color-sage-100: oklch(0.923 0.0103 131.36);
  --color-sage-200: oklch(0.8441 0.0222 130.05);
  --color-sage-300: oklch(0.7376 0.0342 132.39);
  --color-sage-400: oklch(0.6254 0.0442 133.94);
  --color-sage-500: oklch(0.5347 0.0439 133.54);
  --color-sage-600: oklch(0.455 0.0409 134.83);
  --color-sage-700: oklch(0.3976 0.0313 134.59);
  --color-sage-800: oklch(0.3513 0.0251 136.05);
  --color-sage-900: oklch(0.3192 0.0184 138.74);
  --color-sage-950: oklch(0.223 0.0153 136.75);

  --font-source: "Source Sans Pro", sans-serif;
  --font-rosarivo: "Rosarivo", serif;
  --font-permanent: "Permanent Marker", cursive;

  --breakpoint-xs: 420px;
}
