@use '../../styles/themes';


.nav-bar-hamburger {
    .hamburger-menu {

        height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        width: 280px;
        z-index: 90;

        @include themes.themed() {
            background: themes.get('sidebar-bg');
        }

        transform: translateX(-285px);
        transition: transform 500ms ease-in-out;

        img {
            display: block;
            margin-left: 8rem;
            padding-top: 2rem;
            width: 120px;
            height: auto;
            
            &.upper-pic {
                border-radius: 10rem 10rem 2rem 2rem;
            }

            &.lower-name {
                width: 100px;
            }
        }

        nav {
            display: block;
            text-align: left;
            position: absolute;
            height: auto;
            margin-left: 50px;
            margin-top: 20px;
            width: 250px;
    
            a {
                @include themes.themed() {
                    font-family: themes.get('sidebar-font');
                    color: themes.get('sidebar-unselected-major-icon');
                }

                font-size: 20px;
                letter-spacing: 2px;
                display: block;
                line-height: 51px;
                height: 51px;
                position: relative;
                text-decoration: none;
                transition: all 0.3s ease-out;

    
                svg {
                    transition: all 0.3s ease-out;
                    @include themes.themed() {
                        color: themes.get('sidebar-unselected-major-icon');
                    }
                }
    
                &:hover {
                    opacity: 0.4;
                    svg {
                        @include themes.themed() {
                            color: themes.get('sidebar-selected-major-icon');
                        }
                    }
                    @include themes.themed() {
                        color: themes.get('sidebar-selected-major-icon');
                    }
                }
            }
    
            a.active {
                svg {
                    @include themes.themed() {
                        color: themes.get('sidebar-selected-major-icon');
                    }
                }
                @include themes.themed() {
                    color: themes.get('sidebar-selected-major-icon');
                }
            }
        }

    }

    .hamburger-toggle {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;

        &:checked {
            ~ {
                .hamburger-menu {
                    transform: translateX(0px);
                }
                .hamburger-icon-toggle {
                    .horizontal-line {
                        transition: all 0.3s;
                        box-sizing: border-box;
                        opacity: 0;
                    }
                    .diagonal-line-1 {
                        transition: all 0.3s;
                        box-sizing: border-box;
                        transform: rotate(135deg);
                        margin-top: 8px;
                    }
                    .diagonal-line-2 {
                        transition: all 0.3s;
                        box-sizing: border-box;
                        transform: rotate(-135deg);
                        margin-top: -12px;
                    }
                }
            }
        }
    }

    .hamburger-icon-toggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 35px;
        left: 25px;
        height: 30px;
        width: 30px;

        &:hover {
            .spinner {
                @include themes.themed() {
                    background-color: themes.get('hamburger-sidebar-icon-hover');
                }
            }
        }

        .spinner {
            transition: all 0.3s;
            box-sizing: border-box;
            position: absolute;
            height: 3px;
            width: 100%;
            @include themes.themed() {
                background-color: themes.get('hamburger-sidebar-icon');
            }
        }
        .horizontal-line {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 6px;
        }
        .diagonal-line-1 {
            position: relative;
            transition: all 0.3s;
            box-sizing: border-box;
            float: left;
        }
        .diagonal-line-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 6px;
        }
    }

    .footer-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        height: 16px;
        align-items: center;
        font-size: 16px;
        position: absolute;
        top: 95%;

        a {
            svg {
                @include themes.themed() {
                    color: themes.get('sidebar-unselected-minor-icon');
                }
            }
    
            &:hover svg {
                @include themes.themed() {
                    color: themes.get('sidebar-highlighted-minor-icon');
                }
            }
        } 
    }
}
