// IN PROGRESS

.hex-projects-container {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: relative;
    right: 0;
    overflow: hidden;
    display: flex;

    .hex {
        display: flex;
    }
}